* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #0B0C0F;
}

h1, h2, h3, h4, h5 {
  font-family: 'graphik web', sans-serif;
}

p {
  font-family: 'proxima nova', sans-serif;
}

hr {
  opacity: 30%;
}

/*body*/
body {
  margin: 40px;
  max-width: 100vw;
}

/*header*/
header img {
  width: 180px;
}

.date {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  margin-bottom: 2em;
}

/*navbar*/
nav {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  font-family: 'graphik web', sans-serif;
  font-weight: bold;
  font-size: 15px;
}

nav li:not(:first-child) {
  margin-left: 1em;
}

nav i {
  margin: 0 16px;
  font-size: 1.5em;
  color: #a2a2a2;
}

/*main*/
main {
  display: flex;
  justify-content: space-between;
  margin: 64px 0;
}

/*hero*/
.hero {
  width: 70%;
}

.heromain {
  display: flex;
}

.headingmain {
  margin: 0 16px 0 0;
}

.headingmain a {
  text-decoration: none;
}

.headingmain a {
  color: #ca2f22;
}

.headingmain h2,
.headingmain p:not(:last-child) {
  margin-bottom: 1em;
}

.headingmain p:last-child {
  text-align: right;
}

/*subhero*/
.subhero {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  width: 100%;
}

.sub {
  width: 32%;
}

.sub h4 {
  margin: 16px 0;
}

.subimg img {
  width: 100%;
}

.credit {
  display: flex;
  justify-content: space-between;
}

.credit p {
  font-size: 13px;
}

.credit p:first-child {
  width: 75%;
}

/*pop*/
.popular {
  width: 30%;
  margin: 0 0 0 16px;
}

.pop {
  display: flex;
  margin: 24px 0;
}

.pop h1 {
  color: #ca2f22;
}

.pop img {
  margin: 0 16px;
  height: 50%;
}
